@import '/dist/css/normalize.css';
@import 'colors';
@import '/css/toast.css';

mark {
    background-color: #fd7e14;
}

.hidden {
    display: none;
}

#clouds.nav-pills {
    margin-bottom: 25px;
    min-height: 64px;
    .nav-item {
        margin: 12px;
        margin-left: 0;
        background-color: rgba($color: #000000, $alpha: 0.05);
        a {
            color: #0f0f0f;
            font-weight: 400;
            text-decoration: none;
        }
        :hover {
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
        .active {
            color: #fff;
        }
        .active:hover {
            background-color: rgba($color: $bg-primary, $alpha: 0.75);
        }
    }
}
.search-box {
    display: flex;
    :first-child {
        .form-control {
            width: 100% !important;
            border-top-left-radius: 0.25rem !important;
            border-bottom-left-radius: 0.25rem !important;
        }
    }
    :last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-group {
        .form-control {
            position: relative;
            width: 8rem;
            padding-left: 32px;
            border-radius: 0;
        }
        i.far,
        i.fa {
            position: absolute;
            z-index: 100;
            color: #ced4da;
            padding-left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.modal-body .download__container {
    position: absolute;
    transform: translateY(52px);
}

label.error {
    color: $text-danger;
    font-size: small;
    font-style: italic;
}
