mark {
    background-color: #fd7e14;
}
.navbar {
    margin-bottom: 10px;
    border-radius: 0;
}

.constraint {
    min-width: 100%;
    width: 80px !important;
}

.divider {
    width: 0%;
    padding: 0px;
    border: none;
}

ul li {
    position: relative;
}

.search-box {
    position: absolute;
    right: 0;
    top: 54px;
    width: 780px;
    padding: 15px;
    border-radius: 4px;
    background-color: #ccc;
    display: none;
    z-index: 100;
}
.search-box::before {
    content: '';
    position: absolute;
    top: -24px;
    right: 10px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #ccc;
}

#stats {
    margin-top: 20px;
}
