<!-- HTML -->
<div class="col-md-12"><%- include('../partials/table') %></div>

<!-- STYLES -->
<link rel="stylesheet" href="/css/bootstrap-table/bootstrap-table.min.css" />
<link rel="stylesheet" href="/css/style.css" />

<!-- SCRIPTS -->
<script src="/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table/locale/bootstrap-table-vi-VN.min.js"></script>
<script src="/js/bootstrap-table/extensions/bootstrap-table-cookie.min.js"></script>
<script src="/js/table-control.js"></script>
<script>
    $(function () {
        initTable('#table');
    });
</script>
