<div class="col-md-12">
    <form id="form" action="<%= url %>" enctype="multipart/form-data" method="post">
        <input
            type="file"
            name="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        />
        <input type="submit" value="Upload Excel" />
        <div id="status"></div>
    </form>
</div>

<script src="/js/jquery.form.min.js"></script>
<script src="/js/file-upload.js"></script>
