<form method="POST" action="/order">
    <div class="form-group">
        <label class="control-label">Mã phiếu</label>
        <input class="form-control" name="receiptNo" type="text" />
    </div>
    <div class="form-group">
        <label class="control-label">Tên TB</label>
        <input class="form-control" name="model" type="text" />
    </div>
    <div class="form-group">
        <label class="control-label">Serial</label>
        <input class="form-control" name="serial" type="text" />
    </div>
    <div class="form-group">
        <label class="control-label">Mô tả lỗi</label>
        <textarea class="form-control" name="remark"></textarea>
    </div>
</form>
