<div class="mb-2">
    <form enctype="multipart/form-data" method="post" action="<%=baseURL%>/import">
        <input
            type="file"
            name="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        />
    </form>
</div>
<div class="download__container">
    <small>
        <a href="#" class="download__url">Tải file mẫu tại đáy</a>
    </small>
</div>
