<form method="PUT" action="/order">
    <div class="form-group">
        <label class="control-label">Mã phiếu</label>
        <input class="form-control" name="receiptNo" type="text" readonly="" />
    </div>
    <div class="form-group">
        <label class="control-label">Biện pháp</label>
        <select class="form-control" name="method">
            <option selected>- Chọn -</option>
            <% methods.forEach(method => { %>
            <option value="<%= method.name %>"><%= method.name %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Serial mới</label>
        <input class="form-control" name="newSerial" type="text" />
    </div>
    <div class="form-group">
        <label class="control-label">Chi tiết SC</label>
        <textarea class="form-control" name="remark" rows="5"></textarea>
    </div>
</form>
