<div class="modal" id="loader" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status"></div>
                <div class="mt-2">Đang xử lý</div>
            </div>
        </div>
    </div>
</div>
