<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Nhập dữ liệu
                </a>
                <div class="dropdown-menu">
                    <a
                        class="dropdown-item btn-modal"
                        href="#"
                        data-title="Tiếp nhận theo file"
                        data-body="<%= view %>import"
                        data-submit='{"class":"btn btn-primary","text":"Upload","handler":"onModalSubmit"}'
                        >Tiếp nhận</a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                        class="dropdown-item btn-modal"
                        href="#"
                        data-title="Sửa chữa theo file"
                        data-body="<%= view %>import"
                        data-submit='{"class":"btn btn-primary","text":"Upload","handler":"onModalSubmit"}'
                        >Sửa chữa</a
                    >
                </div>
            </li>
        </ul>
        <%- include('./search') %>
    </div>
</nav>
