<ul class="nav nav-pills">
    <li>
        <a class="bg-primary" href="#">một quý <span class="badge"></span></a>
    </li>
    <li>
        <a class="bg-info hidden" href="#">hôm nay <span class="badge">0</span></a>
    </li>
    <li>
        <a class="bg-info hidden" href="#">in phiếu <span class="badge">0</span></a>
    </li>
    <li>
        <a class="bg-danger hidden" href="#">chưa xử lý <span class="badge">0</span></a>
    </li>
</ul>
