<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>RepairLog</title>

<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-thene.min.css" />
<link rel="stylesheet" href="css/bootstrap-table/bootstrap-table.min.css" />
<link rel="stylesheet" href="css/bootstrap-table/extensions/bootstrap-table-filter-control.min.css" />
<link rel="stylesheet" href="css/style.css" />
