<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-header">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span>REPAIRLOG</span></a>
        </div>

        <ul class="nav navbar-nav">
            <li class="dropdown-right">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                    Nhập dữ liệu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/upload/today"> Tiếp nhận</a></li>
                    <li class="divider"></li>
                    <li><a href="/upload/newSerial"> Serial mới </a></li>
                    <li class="divider"></li>
                    <li><a href="/upload/method">Biện pháp</a></li>
                    <li class="divider"></li>
                    <li><a href="/upload/remark">Chi tiết</a></li>
                    <li class="divider"></li>
                    <li><a href="/upload/status">Trạng thái</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" role="button" class="btn-search"><i class="glyphicon glyphicon-search"></i></a>
                <%- include('./search') %>
            </li>
        </ul>
    </div>
</nav>
