<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-header">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#footwear" aria-expanded="true" aria-controls="footwear" data-toggle="collapse" role="button"
                    >Tìm kiếm nâng cao</a
                >
            </li>

            <li class="dropdown-right">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                    Nhập dữ liệu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/upload/today"> Tiếp nhận</a></li>
                    <li class="divider"></li>
                    <li><a href="/upload/newSerial"> Serial mới </a></li>
                    <li class="divider"></li>
                    <li><a href="/upload/method">Biện pháp</a></li>
                    <li class="divider"></li>
                    <li><a href="/upload/remark">Chi tiết</a></li>
                    <li class="divider"></li>
                    <li><a href="/upload/status">Trạng thái</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div id="footwear" class="collapse">
    <form role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm nâng cao" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </form>
</div>
