<form role="search" class="form-group search-box">
    <div class="input-group">
        <div class="has-feedback constraint">
            <input type="text" class="form-control text-center calendar" id="startDate" />
            <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
        </div>
        <div class="input-group-addon divider"></div>
        <div class="has-feedback constraint">
            <input type="text" class="form-control text-center calendar" id="endDate" />
            <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
        </div>
        <div class="input-group-addon divider"></div>

        <select name="column" id="column" class="form-control constraint">
            <option value="receiptNo">Mã phiếu</option>
            <option value="model">Tên TB</option>
            <option value="serial" selected>Serial</option>
            <option value="description">Mô tả lỗi</option>
            <option value="method">Biện pháp</option>
            <option value="remark">Chi tiết SC</option>
            <option value="status">Trạng thái</option>
        </select>

        <div class="input-group-addon divider"></div>
        <input type="text" class="form-control" placeholder="Tìm kiếm nâng cao" />

        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</form>
