<table
    id="table"
    data-toggle="table"
    data-undefined-text=""
    data-url="/api/excel"
    data-pagination="true"
    data-show-columns="true"
    data-search="true"
    data-search-highlight="true"
    data-click-to-select="false"
    data-filter-control="true"
    data-show-search-clear-button="true"
>
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="receiptNo" data-filter-control="input">Mã phiếu</th>
            <th data-field="model" data-filter-control="input">Tên TB</th>
            <th data-field="serial" data-filter-control="input">Số Sêri</th>
            <th data-field="description" data-filter-control="input">Mô tả lỗi</th>
            <th data-field="newSerial" data-filter-control="input">Sêri mới</th>
            <th data-field="method" data-filter-control="select">Biện pháp</th>
            <th data-field="remarks" data-filter-control="input">Chi tiết SC</th>
            <th data-field="status" data-filter-control="select">Trạng thái</th>
            <th data-field="createdAt" data-filter-control="input">Ngày lập</th>
        </tr>
    </thead>
</table>
