<div class="modal-container">
    <form enctype="multipart/form-data" method="post">
        <input
            type="file"
            name="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        />
    </form>
</div>
